################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AnalysisWF/.vs/AnalysisWF
/AnalysisScripts/.vs/AnalysisScripts/FileContentIndex/d459af58-9185-4df8-bf96-23aaa5a531e3.vsidx
/AnalysisScripts/.vs/AnalysisScripts/FileContentIndex
/AnalysisWF/.vs/AnalysisWF.csproj.dtbcache.json
/AnalysisWF/obj/Debug/AnalysisWF.csproj.AssemblyReference.cache
/.gitignore
/AnalysisScripts/.vs/AnalysisScripts/v17/.suo
/AnalysisScripts/.vs/AnalysisScripts/v17/.wsuo
/AnalysisScripts/.vs/AnalysisScripts/v17/DocumentLayout.backup.json
/AnalysisScripts/.vs/AnalysisScripts/v17/DocumentLayout.json
/AnalysisScripts/.vs/AnalysisScripts/config/applicationhost.config
/AnalysisScripts/.vs/AnalysisScripts/v17/fileList.bin
